*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
                width: 100%;
                padding: 20px;
            }

.container{
    
    display: flex;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color:brown;
}   

.nav1{
                text-align: center;
                width: 30%;
                border-radius: 20px;
                background-color: pink;
                padding: 20px;
                text-decoration: none;
                
            }
            .nav1 ul li{
                width: 100%;
                display: block;
                font-size: 20px;
                margin: 10px;
                color: white;
                border-radius: 10px;
                background-color: brown;
                padding: 20px;
                border: 2px solid white;
                transition: 500ms;
                
            }
            .nav1 ul li:hover{
                background-color: orangered;
            }




            .form-container {
                margin-left: 150px;
                width: 70%;
            }

            .form-container .messages {
                margin-bottom: 15px;
            }

            .form-container input[type="text"],
            .form-container input[type="number"] {
                display: block;
                margin-bottom: 15px;
                width: 250px;
            }

            .form-container input[type="file"] {
                margin-bottom: 15px;
            }

            .form-container label {
                display: inline-block;
              
                width: 100px;
            }

            .form-container button {
                display: block;
                padding: 5px 10px;
                width: 100px;
                background-color: brown;
                color: #fff;
                border: none;
            }

            .form-container .link-to-product-details {
                margin-top: 20px;
                display: inline-block;
            }